[Unit]
Description=Dauntless Revived content server
After=network-online.target dauntless-metagame.service
Wants=network-online.target
Requires=dauntless-metagame.service

[Service]
Type=simple
User=@USER@
WorkingDirectory=@ROOT@/UndauntedContent
ExecStart=@NODE@ --env-file=@CONFIG@/content.env @ROOT@/UndauntedContent/dist/server.js
Restart=on-failure
RestartSec=3
KillSignal=SIGTERM
TimeoutStopSec=20
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
